<div class="card p-3 shadow">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Ruby on Rails 6: SaaS multitenancy boilerplate
      </h1>
      <br>
      <h5>
        This is a Ruby on Rails Multitenancy Software as a Service boilerplate app.
        <p>
        Imagine having different secure organisations in Slack, or different team projects in Trello.
        <p>
        Users can create organisations, invite members, and manage access rights to different data
        <p>
        Ruby 2.7+,
        Rails 6.1+
      </h5>

      <% unless user_signed_in? %>
        <% User.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(User, provider), method: :post, class: "btn btn-md btn-outline-#{social_color(provider)}", data: { disable_with: "#{t("users.show.connecting")}..." } do %>
            Sign in with
            <%= social_icon(provider) %>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/474396376" width="100%" height="427" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</div>

<br>

<div class="card p-3 shadow text-center">
  <h3>
    Buy a Licence + Video course:
    <br>
    <%= link_to "https://gumroad.com/l/ror6saas", target: :_blank do %>
      Ruby on Rails 6: Learn to Build a Multitenancy Subscriptions SaaS app 
      <div class="fa fa-external-link-alt"></div>
    <% end %>
  </h3>
</div>

<br>

<div class="text-center">
  <h1>
    Features
  </h1>
  The core functionality works well.
  <br>
  We are always working on adding more features.
  <br>
  You can see the existing features, as well as the roadmap here:
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-sign-in-alt"></i>
          Authentication
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Log in with email
          </li>
          <li>
            Log in with google
          </li>
          <li>
            Log in with github
          </li>
          <li>
            Connect multiple social accounts to one user
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-building"></i>
          Team Multitenancy
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Complete row-based multitenancy
          </li>
          <li>
            User can create multiple tenants (same as [:organisations, :teams, :accounts])
          </li>
          <li>
            User can switch between tenants
          </li>
          <li>
            User can invite others to become members of the tenant
          </li>
          <li>
            Flexible ways to set current_tenant only where you need it
          </li>
          <li>
            Data is scoped based on current_tenant
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-users-cog"></i>
          Authorization
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            When a user creates a tenant, he gets tenant "admin" role
          </li>
          <li>
            3 default roles: [:admin, :editor, :viewer]. You can change them.
          </li>
          <li>
            Admin can manage roles and delete users
          </li>
          <li>
            Admin can manage general tenant settings
          </li>
          <li>
            Editor can create, read, update, delete tenant-specific data
          </li>
          <li>
            Viewer can only see the tenant-specific data
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-lock-open"></i>
          Plan-based restrictions
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Create custom pricing Plans
          </li>
          <li>
            For example - restrictions based on max. members
          </li>
          <li>
            You can change the plan for a tenant
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-money-bill-wave"></i>
          Billing and Subscriptions
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Custom subscriptions engine (no gems!)
          </li>
          <li>
            NO tenant access without an active subscription
          </li>
          <li>
            Subscriptions
          </li>
          <li>
            One-time Payments
          </li>
          <li>
            Stripe integration
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-user-shield"></i>
          Superadmin access
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Custom SIMPLE superadmin panel (no gems!)
          </li>
          <li>
            Manage users, tenants, plans, subscriptions, charges
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-bootstrap"></i>
          Bootstrap 4.5 native UI
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Full mobile responsiveness
          </li>
          <li>
            Nice styling with minimal css
          </li>
          <li>
            Fontawesome icons
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fa fa-language"></i>
          Internationalization (i18n)
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Users can select language
          </li>
          <li>
            Views with i18n included
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-rocket"></i>
          Production & SEO ready
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            ActiveStorage & AWS S3 readiness
          </li>
          <li>
            reCaptcha without google
          </li>
          <li>
            Dark Mode
          </li>
          <li>
            Progressive Web App
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-hat-wizard"></i>
          Super scaffolding
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            New scaffolds are automatically styled
          </li>
          <li>
            New scaffolds have i18n by default
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fa fa-info-circle"></i>
          Docs
        </h3>
      </div>
      <div class="card-body">
        <ul>
          <li>
            100% video coverage (code-along tutorial format) of how this app was created
          </li>
        </ul>
      </div>
    </div>
    <p>
  </div>
</div>

<hr>
<div class="text-center">
  <h1>
    Inspiration
  </h1>
  Apps that you can create using multitenancy
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-salesforce"></i>
          Salesforce
        </h3>
      </div>
      <div class="card-body">
        Subscription-based access to organisational data.
        <br>
        Bill organisations, not individuals.
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-slack"></i>
          Slack
        </h3>
      </div>
      <div class="card-body">
        Users can create multiple independent environments for different teams.
      </div>
    </div>
    <p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-trello"></i>
          Trello
        </h3>
      </div>
      <div class="card-body">
        Invite different collaborators for different projects.
        <br>
        Role-based access.
      </div>
    </div>
    <p>
  </div>
</div>